<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <backend>
      <general>
        <urlprefix>/blueprint/servlet/service/fragment/luma/</urlprefix>
        <schema>http</schema>
        <hostname>ENTER CAE DOMAIN HERE</hostname>
      </general>
    </backend>
  </default>
</config>
